<div class="container">
    <form [formGroup]="loginForm" (submit)="submitLogin()" *ngIf="!isConnect" >
        <mat-form-field appearance="fill">
        <mat-label for="name">Identifiant</mat-label>
        <input
            matInput
            placeholder="Identifiant"
            type="text"
            name="login"
            formControlName="login"
            autofocus
            required
        />
        </mat-form-field>
        <mat-form-field appearance="fill">
        <mat-label for="name">Mot de passe</mat-label>
        <input
            matInput
            placeholder="Mot de passe"
            type="password"
            name="password"
            formControlName="password"
            required
        />
        </mat-form-field>
        <button
          mat-raised-button
          [disabled]="loginForm.invalid"
          type="submit"
        >
          Se connecter
        </button>
    </form>
    <div class="btn" *ngIf="isConnect">
      <h1>Vous êtes actuellemnt connecté en tant qu'administrateur</h1>
    <button mat-raised-button (click)="logoutUser()">
      Se Déconnecter
    </button>
    </div>
</div>