<footer>
  <div class="custom-container">
    <ul>
      <li>
        <a [routerLink]="['/accueil']">Accueil</a>
      </li>
      <li>
        <a [routerLink]="['/don']">Suivre un don</a>
      </li>
      <li>
        <a [routerLink]="['/actualites']">Actualités</a>
      </li>
    </ul>
    <ul class="footer__contact">
      <li>
        <span class="label">Trouvez nous :</span>
        <span>4 Place Jussieu, 75005 Paris</span>
      </li>
      <li>
        <span class="label">Contactez nous par e-mail:</span>
        <a href="mailto:polyburkinafaso@gmail.com">polyburkinafaso@gmail.com</a>
      </li>
    </ul>
    <ul class="footer__partners">
      <li>
        <a href="#" target="_blank">
          <img src="../../../../assets/polytech-logo.png" loading="lazy" width="190" height="80" alt="Burkina Dream">
        </a>
      </li>
      <li>
        <a href="#" target="_blank">
          <img src="../../../../assets/cfa-logo.png" loading="lazy" width="70" height="70" alt="Burkina Dream">
        </a>
      </li>
    </ul>
  </div>
  <div class="custom-container footer__copyrights">
    <span>Copyrights 2022 - Dahukan Polytech Sorbonne</span>
  </div>
</footer>