<section class="hero-banner">
  <div class="custom-container">
    <div class="left-side">
      <h1>la charité est un acte d'un cœur tendre.</h1>
      <p>On gère les dons des particuliers pour des associations partout dans le monde</p>
      <div class="btn__wrapper">
        <a class="cta yellow-cta" (click)="openDialog()">Rejoignez nous</a>
        <img src="../../../../../assets/arrow.svg" loading="lazy" width="100" height="65" alt="Arrow">
        <a (click)="openDialog()">
          <img class="text-circle" src="../../../../../assets/round-text.svg" loading="lazy" width="120" height="120" alt="Text in circle">
          <img class="plus-icon" src="../../../../../assets/plus.svg" loading="lazy" width="60" height="60" alt="Plus">
        </a>
      </div>
    </div>
    <img class="right-side" src="../../../../../assets/home.png" loading="lazy" width="288" height="288" alt="Enfant Burkina Faso">
  </div>
</section>

<section class="donations">
  <div class="custom-container">
    <span>Nombre de dons gérés</span>
    <div>
      <span>+ 1600</span>
      <img class="close__icon" src="../../../../../assets/children-icon.png" loading="lazy" width="90" height="90" alt="Close icon">
    </div>
  </div>
</section>





<section class="about-us custom-container">
  <div class="about-us__grid">
    <div class="about-us__content">
      <h1>A propos de nous</h1>
      <hr>
      <p>
        une application web révolutionnaire conçue pour transformer la manière dont les dons sont gérés et suivis à l'échelle mondiale. Développée avec passion et expertise en utilisant la technologie Angular, Sender est plus qu'une simple application - c'est un pont entre la générosité des donateurs et les besoins des associations partout dans le monde.</p>
      <a class="cta yellow-cta" [routerLink]="['/actualites']">Voir notre page actualités</a>
    </div>
    <div class="container-img square about-us__image">
      <img src="../../../../../assets/image-1.png" loading="lazy" width="520" height="490" alt="Image 1">
    </div>
  </div>
  <p class="about-us__text">
Notre objectif est de rendre le processus de don aussi transparent et efficace que possible. Nous comprenons l'importance de chaque don et nous nous engageons à assurer que chaque contribution atteint sa destination prévue. Avec Sender, les donateurs peuvent suivre le parcours de leur don du début à la fin, garantissant une tranquillité d'esprit et une satisfaction inégalée.
  </p>
</section>

<section class="custom-container team" *ngIf="team.length > 0">
  <h1>Notre équipe</h1>
  <hr class="hide-desktop">
  <div class="team__grid">
    <app-card-vitrine *ngFor="let info of team" [info]="info"></app-card-vitrine>
  </div>
</section>


<section class="custom-container partners" *ngIf="partners.length > 0">
  <h1>Nos partenaires</h1>
  <hr class="hide-desktop">
  <div class="partners__grid">
    <app-card-vitrine *ngFor="let info of partners" [info]="info"></app-card-vitrine>
  </div>
</section>

<section class="make-donation">
  <div class="custom-container">
    <h1>Rejoignez Nous</h1>
    <a class="cta black-cta" (click)="openDialog()">Rejoignez nous</a>
  </div>
</section>