<div class="title">
    <h3>Nouvelle donation</h3>
    <button mat-icon-button (click)="toggleMenu()">
      <mat-icon>highlight_off</mat-icon>
    </button>
  </div>
  
  <div class="container">
    <form [formGroup]="donationForm" (submit)="submitDonation()">
      <mat-form-field appearance="fill">
        <mat-label>Donateur</mat-label>
        <mat-select name="contributor" formControlName="contributor">
            <mat-option *ngFor="let item of contributors" [value]="item._id">{{ item.firstname }} {{ item.lastname }}
            </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Type de don</mat-label>
        <mat-select formControlName="type" name="type" (selectionChange)="changeCostInput($event)">
          <mat-option
            *ngFor="let enum of articleEnum | keyvalue"
            value="{{ enum.value }}"
            >{{ enum.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Coût</mat-label>
        <input
          matInput
          placeholder="Cost"
          type="number"
          name="cost"
          min="0"
          formControlName="cost"
          required
        />
      </mat-form-field>
      <div *ngIf="!cost?.errors!['AmountTooHigh']">
        Cout trop élevé. (max 1000€) 
      </div>
      <div class="btnMenu">
        <button
          mat-raised-button
          [disabled]="donationForm.invalid"
          type="submit"
        >
          Sauvegarder
        </button>
        <button mat-raised-button type="reset" (click)="toggleMenu()">
          Retour
        </button>
      </div>
    </form>
  </div>

  